<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Airport Details</title>
  </head>
  <body>
    <h1>Airport Details</h1>
    <p>Airport Name: <%= name %></p>
    <p>Airport ICAO: <%= icao_code %></p>
    <p>Airport IATA: <%= iata_code %></p>
    <p>Airport Latitude: <%= latitude_deg %></p>
    <p>Airport Longitude: <%= longitude_deg %></p>
    <p>Airport Elevation: <%= elevation_ft %></p>
    <p> View flights at this airport: <a href="/opensky/airport?icao=<%= icao_code %>">View Flights</a></p>
    </ul>
  </body>
</html>