<!DOCTYPE html>
<html lang="en">

<head>
  <title>Airport Details</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <header>
    <h1>Airport Details</h1>
  </header>
  <main>
    <p><strong>Airport Name:</strong>
      <%= name %>
    </p>
    <p><strong>Airport ICAO:</strong>
      <%= icao_code %>
    </p>
    <p><strong>Airport IATA:</strong>
      <%= iata_code %>
    </p>
    <p><strong>Airport Latitude:</strong>
      <%= latitude_deg %>
    </p>
    <p><strong>Airport Longitude:</strong>
      <%= longitude_deg %>
    </p>
    <p><strong>Airport Elevation:</strong>
      <%= elevation_ft %>
    </p>
    <p><strong>View flights at this airport:</strong> <a href="/opensky/airport?icao=<%= icao_code %>">View Flights</a>
    </p>
    <p><strong>View flights in a radius around this airport:</strong> <a
        href="/opensky/location?lat=<%= latitude_deg %>&lon=<%= longitude_deg %>">View Flights</a></p>
  </main>
  <footer>
    <a href="/">Home</a>
  </footer>
</body>

</html>